@page "/Resume"

<div class="resume">
    <div class="resume_left">
        <div class="resume_profile">
            <img src="" alt="profile_pic">
        </div>
        <div class="resume_content">
            <div class="resume_item resume_info">
                <div class="title">
                    <p class="bold">Syed Abhhahir</p>
                    <p class="regular">Web Developer</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="oi oi-map-marker"></i>
                        </div>
                        <div class="data">
                            Lawspet,Puducherry,India
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="oi oi-phone"></i>
                        </div>
                        <div class="data">
                            9080853351/8680831827
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="oi oi-envelope-open"></i>
                        </div>
                        <div class="data">
                            syedappu12@gmail.com
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_skills">
                <div class="title">
                    <p class="bold"> professional skills</p>
                </div>
                <ul>
                    <li>
                        <div class="skill-name">
                            HTML
                        </div>
                        <div class="skill_progress">
                            <span style="width: 80%"></span>
                        </div>
                        <div class="skill_per">80%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            CSS
                        </div>
                        <div class="skill_progress">
                            <span style="width: 70%"></span>
                        </div>
                        <div class="skill_per">70%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            BOOT STRAP
                        </div>
                        <div class="skill_progress">
                            <span style="width: 65%"></span>
                        </div>
                        <div class="skill_per">65%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            JAVA SCRIPT
                        </div>
                        <div class="skill_progress">
                            <span style="width: 40%"></span>
                        </div>
                        <div class="skill_per">40%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            C#
                        </div>
                        <div class="skill_progress">
                            <span style="width: 50%"></span>
                        </div>
                        <div class="skill_per">50%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            DOTNET CORE
                        </div>
                        <div class="skill_progress">
                            <span style="width: 60%"></span>
                        </div>
                        <div class="skill_per">60%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            SQL
                        </div>
                        <div class="skill_progress">
                            <span style="width: 60%"></span>
                        </div>
                        <div class="skill_per">60%</div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_language">
                <div class="title">
                    <p class="bold">languages</p>
                </div>
                <ul>
                    <li>
                        <div class="data">
                            <p class="semi_bold">Tamil</p>
                            <p>Read, Write, Speak</p>
                        </div>
                    </li>
                    <li>
                        <div class="data">
                            <p class="semi_bold">English</p>
                            <p>Read, Write, Speak</p>
                        </div>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="resume_right">
        <div class="resume_item resume_about">
            <div class="title">
                <p class="bold">About Me</p>
            </div>
            <p>
                Highly Skilled technology professional with strong experience and knowledge creating
                top quality.predictable and high-performance website application desiring the role of
                junior Software Developer.
            </p>
        </div>
        <div class="resume_item resume_education">
            <div class="title">
                <p class="bold">Education</p>
            </div>
            <ul>
                <li>
                    <div class="date">2014 - 2018</div>
                    <div class="info">
                        <p class="semi_bold">B.TECH (Electronics Communication Enginerring)</p>
                        <p>Achariya college of Engineering and Technology Puducherry</p>
                    </div>
                </li>
                <li>
                    <div class="date">2012 - 2014</div>
                    <div class="info">
                        <p class="semi_bold">Higher Secondary School</p>
                        <p>Fatima Higher Secondary School, Puducherry</p>
                    </div>
                </li>
                <li>
                    <div class="date">2006 - 2013</div>
                    <div class="info">
                        <p class="semi_bold">Secondary School</p>
                        <p>Sri Shakthi Higher Secondary School, Puducherr</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_work">
            <div class="title">
                <p class="bold">Work Experience</p>
            </div>
            <ul>
                <li>
                    <div class="date">September 2019 - January 2020</div>
                    <div class="info">
                        <p class="semi_bold">SUTHERLAND, Chennai, Tamil Nadu</p>
                        <p>Associate - CUSTOMER SERVICE</p>
                    </div>
                </li>
                <li>
                    <div class="date">June 2021 - August 2021</div>
                    <div class="info">
                        <p class="semi_bold">AAHA SOLUTIONS, Pondicherry</p>
                        <p>Role - SOFTWARE DEVELOPER</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_interest">
            <div class="title">
                <p class="bold">Interest</p>
            </div>
            <ul>
                <li><i class='fas fa-gamepad'></i>Gaming</li>
                <li><i class="fas fa-headset"></i>Music</li>
                <li><i class='fas fa-table-tennis'></i>Badmiton</li>
            </ul>

        </div>
    </div>
</div>