@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }








@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e4e4e4;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi_bold {
    font-weight: 500;
    font-size: 16px;
}

.resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

    .resume .resume_left {
        width: 280px;
        background: #003147;
    }

        .resume .resume_left .resume_profile {
            width: 100%;
            height: 280px;
        }

            .resume .resume_left .resume_profile img {
                width: 100%;
                height: 100%;
            }

        .resume .resume_left .resume_content {
            padding: 0 25px;
        }

    .resume .title {
        margin-bottom: 20px;
    }

    .resume .resume_left .bold {
        color: #fff
    }

    .resume .resume_left .regular {
        color: #ffffff;
    }

    .resume .resume_item {
        padding: 25px 0;
        border-bottom: 2px solid #b1eaff;
    }

    .resume .resume_left .resume_item:last-child {
        border-bottom: 0px;
    }

    .resume .resume_left ul li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .resume .resume_left ul li:last-child {
            margin-bottom: 0;
        }

        .resume .resume_left ul li .icon {
            width: 35px;
            height: 35px;
            background: #fff;
            color: #0bb5f4;
            border-radius: 50%;
            margin-right: 15px;
            font-size: 16px;
            position: relative;
        }

    .resume .icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .resume .resume_left ul li .data {
        color: #fff;
    }

    .resume .resume_left .resume_skills ul li {
        color: #fff;
        justify-content: space-between;
    }

        .resume .resume_left .resume_skills ul li .skill_name {
            width: 25%;
        }

        .resume .resume_left .resume_skills ul li .skill_progress {
            width: 60%;
            margin: 0 5px;
            height: 5px;
            background: #fff;
            position: relative;
        }

        .resume .resume_left .resume_skills ul li .skill_per {
            width: 15%;
        }

        .resume .resume_left .resume_skills ul li .skill_progress span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #02c0ff;
        }


    .resume .resume_right {
        width: 520px;
        background: #fff;
        padding: 25px;
    }

        .resume .resume_right .bold {
            color: #003147;
        }

        .resume .resume_right .resume_education ul,
        .resume .resume_right .resume_work ul {
            padding: 40px;
            overflow: hidden;
        }

        .resume .resume_right ul li {
            position: relative;
        }

            .resume .resume_right ul li .date {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
                color: rgb(0, 176, 245);
            }

            .resume .resume_right ul li .info {
                margin-bottom: 20px;
            }

            .resume .resume_right ul li:last-child .info {
                margin-bottom: 0;
            }

        .resume .resume_right .resume_interest ul {
            display: grid;
            grid-template-columns: repeat(4,1fr);
        }

            .resume .resume_right .resume_interest ul li {
                list-style: none;
                color: #333;
                font-weight: 500;
                margin: 10px 0;
            }

                .resume .resume_right .resume_interest ul li i {
                    color: #03a9f4;
                    font-size: 18px;
                    width: 30px;
                }

